[submodule "experiments/nano-vllm"]
	path = experiments/nano-vllm
	url = git@github.com:heiheiha798/nano-vllm.git
[submodule "experiments/nanoPD"]
	path = experiments/nanoPD
	url = git@github.com:heiheiha798/nanoPD.git
[submodule "inference-frameworks/llama.cpp"]
	path = inference-frameworks/llama.cpp
	url = git@github.com:ggml-org/llama.cpp.git
