[submodule "05_case_studies/nano-vllm"]
	path = 05_case_studies/nano-vllm
	url = git@github.com:heiheiha798/nano-vllm.git
[submodule "05_case_studies/nanoPD"]
	path = 05_case_studies/nanoPD
	url = git@github.com:heiheiha798/nanoPD.git
[submodule "05_case_studies/flash-deepseek-v2-lite"]
	path = 05_case_studies/flash-deepseek-v2-lite
	url = git@github.com:heiheiha798/Flash-DeepSeeek-V2-Lite.git
[submodule "03_kernel_advanced/tilelang-puzzles"]
	path = 03_kernel_advanced/tilelang-puzzles
	url = git@github.com:heiheiha798/tilelang-puzzles.git
[submodule "03_kernel_advanced/KDT-DSL"]
	path = 03_kernel_advanced/KDT-DSL
	url = git@github.com:heiheiha798/hpcgame2026.kernel-design-trial.git
[submodule "03_kernel_advanced/SGEMM_CUDA"]
	path = 03_kernel_advanced/SGEMM_CUDA
	url = git@github.com:heiheiha798/SGEMM_CUDA.git
